body {
    font-family: 'Ubuntu', sans-serif;
}

.product {
    /* background: red; */
    border-bottom: 1px solid grey;
    padding: 8px 0;
}

.product-title {
    margin: 0;
}

.product-description {
    font-style: italic;
    font-size: 11px;
}